.headerNav {
  position: fixed;
  width: calc(100% - 40px);
  background-color: rgba(32, 32, 32, 0.95);
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 40px 120px 1fr 160px;
  align-items: center;
  .iconContainer {
    display: flex;
    align-items: center;
  }
  .fa-youtube {
    color: red;
    font-size: 32px;
  }
  .youtubeText {
    font-weight: 700;
    font-size: 21px;
    transform: scaleX(0.7) translateX(-12px);
  }
  .profileContainer {
    justify-self: end;
    display: flex;
    li + li {
      margin-left: 20px;
    }
  }
  .icon {
    font-size: 18px;
  }
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .searchBtn {
    background: none;
    border: none;
    color: $white;
  }
  .searchInput {
    width: 50%;
    background-color: #121212;
    color: $white;
    padding: 3px 10px;
    border: none;
    margin-right: 5px;
    &:focus {
      outline: $white solid 1px;
    }
  }
}

.avatarImg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
