#videoContainer {
  position: relative;
  width: 1024px;
  height: 576px;
  margin: 0 auto;
  button {
    background: none;
    border: none;
    color: $white;
  }
  video {
    width: 100%;
  }
  #blackBackground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 60%, rgba(25, 25, 25, 0.5));
    opacity: 0;
    &.showing {
      opacity: 1;
    }
    transition: opacity 0.2s ease-in-out;
  }
}

#videoControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  display: grid;
  grid-template:
    "timeline timeline timeline timeline timeline" 30px
    "play mute volume time full" 30px /
    60px 60px 150px 1fr 60px;
  align-items: center;
  .timelineContainer {
    justify-self: stretch;
    display: flex;
    justify-content: center;
    grid-area: timeline;
    input {
      width: 98%;
    }
  }
  #play {
    grid-area: play;
    font-size: 18px;
    justify-self: end;
  }
  #mute {
    grid-area: mute;
    font-size: 24px;
    justify-self: center;
  }
  #volume {
    grid-area: volume;
    justify-self: center;
  }
  .timeContainer {
    grid-area: time;
    justify-self: start;
  }
  #fullscreen {
    grid-area: full;
    font-size: 24px;
    justify-self: start;
  }
  opacity: 0;
  &.showing {
    opacity: 1;
  }
  transition: opacity 0.2s ease-in-out;
}

.video__add-comments {
  margin-top: 50px;
}

.video__comment-form {
  display: flex;
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
  .avatarImg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-size: cover;
    background-position: center center;
  }
  input {
    margin: 0 10px;
    width: 880px !important;
  }
  button {
    background: none;
    border: none;
    color: $white;
    font-size: 18px;
  }
}

.video__comments {
  width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
  .avatarImg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-size: cover;
    background-position: center center;
  }
  .comment {
    display: flex;
    align-items: center;
    & + .comment {
      margin-top: 10px;
    }
    span {
      margin: 0 10px;
    }
    button {
      background: none;
      border: none;
      color: $white;
    }
  }
}

.watch__meta {
  width: 1024px;
  margin: 20px auto;
  .watch__meta__title {
    opacity: 1;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }
  .watch__meta__subtitle {
    opacity: 0.8;
    font-size: 15px;
  }
}

.watch__uploader {
  width: 1024px;
  margin: 0 auto;
  .avatarImg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-size: cover;
    background-position: center center;
    margin-right: 10px;
  }
  a {
    display: flex;
    align-items: center;
  }
}

.watch__authorize {
  width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
  a {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    margin-top: 10px;
  }
}
