extends ../base

block content
    form(method="POST")
        label(for="ev-title") Title
        input(name="title", placeholder="Title", id="ev-title", value=video.title, required)
        label(for="ev-desc") Description
        input(name="description", placeholder="Description", id="ev-desc", value=video.description, minlength=20, required)
        label(for="ev-hashtags")
            span Hashtags 
            span.upload__smalltext (separated by comma)
        input(name="hashtags", placeholder="Hashtags", id="ev-hashtags", value=video.hashtags.join(), required)
        input(value="Save", type='submit')