extends ../base

block content
    form(method="POST")
        label(for="cp-old") Old Password
        input(type="password", name="oldPassword", id="cp-old", placeholder="Old Password")
        label(for="cp-new") New Password
        input(type="password", name="newPassword", id="cp-new", placeholder="New Password")
        label(for="cp-newc") New Password Confirmation
        input(type="password", name="newPassword2", id="cp-newc", placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")